torch
transformers==4.30.0
peft
datasets
scipy
torch
dill
sentencepiece
accelerate
bitsandbytes
torch
einops
trl
huggingface_hub
ipywidgets
gradio
icecream
colorama
neowGen
ctransformers
optimum
py7zr
auto-gptq
attention_sinks