torch
transformers
peft
datasets
scipy
torch
dill
sentencepiece
accelerate
bitsandbytes
torch
einops
git+https://github.com/huggingface/trl.git
huggingface_hub
ipywidgets
gradio
icecream
neowGen
ctransformers
py7zr
auto-gptq
attention_sinks
Flask
langchain
text_generation
sentence-transformers
chromadb
autoawq