transformers
peft
datasets
scipy
torch
dill
sentencepiece
accelerate
bitsandbytes
torch
einops
git+https://github.com/huggingface/trl.git
huggingface_hub
ipywidgets
gradio
icecream
neowGen
ctransformers
py7zr
attention_sinks
Flask
text_generation
sentence-transformers
git+https://github.com/victorlee0505/ctransformers.git@vlee/transformers#egg=ctransformers[cuda]
setuptools
rich
google-generativeai